@tailwind base;
@tailwind components;
@tailwind utilities;

.font-display {
    font-family: 'Playfair Display', serif;
}

.app,
.app-body {
    height: auto;
    min-height: 100%;
}

.header-icon {
    color: #74c0fc;
    font-size: 20px;
}

.copyright-tag:hover {
    text-decoration: underline;
    cursor: pointer;
}

.explore-wrapper {
    cursor: pointer;
}

.arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    transition: color 0.3s ease;
}

.arrow::after {
    content: "→";
    position: absolute;
    left: 0;
    opacity: 0;
    animation: moveRight 1.2s linear infinite;
    transition: color 0.3s ease;
}

.explore-wrapper:hover .arrow::after {
    font-weight: 900;
    animation-duration: 0.6s;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    70% {
        transform: translateX(18px);
        opacity: 1;
    }

    100% {
        transform: translateX(30px);
        opacity: 0;
    }
}