@tailwind base;
@tailwind components;
@tailwind utilities;

.font-display {
    font-family: 'Playfair Display', serif;
}

.app,
.app-body {
    height: auto;
    min-height: 100%;
}

.header-icon {
    color: #74c0fc;
    padding-top: 2px;
}

.copyright-tag:hover {
    text-decoration: underline;
    cursor: pointer;
}
